<div class="row">
  <div id="market-snapshot" class="small-12 large-5 columns block">
    <h2>Market Snapshot</h2>
    <a href="#" class="more">Expand</a>
  </div>
  
  <div id="countries-position" class="small-12 large-5 columns">
    <div class="section-container auto" data-section>
      <section class="active">
        <p class="title" data-section-title><a href="#panel1">U.S.</a></p>
        <div class="content" data-section-content>
          <p>Content of section 1.</p>
        </div>
      </section>
      <section>
        <p class="title" data-section-title><a href="#panel2">Europe</a></p>
        <div class="content" data-section-content>
          <p>Content of section 2.</p>
        </div>
      </section>
      <section>
        <p class="title" data-section-title><a href="#panel3">Asia</a></p>
        <div class="content" data-section-content>
          <p>Content of section 3.</p>
        </div>
      </section>
    </div>
  </div>
  
  <div id="top-ad" class="small-6 large-2 columns">
    <img src="http://img.dot-tech.ru/i/200x200" alt="Ad">
  </div>
</div>

<div class="row branding-search">
  <div class="small-9 large-9 columns branding">
    <h1 class="site-title">Easy Stock Center</h1>
    <h2 class="site-slogan">центр быстрых операций на фондовых биржах</h2>
  </div>
  <div class="small-3 large-3 columns search">
    <form action="/search">
      <div class="row collapse">
          <div class="small-9 columns">
            <input type="text" placeholder="Поиск">
          </div>
          <div class="small-3 columns">
            <a href="#" class="button prefix">Искать</a>
          </div>
      </div>
    </form>
  </div>
</div>

<div class="row news">
  <div class="small-12 columns">
    <div id="news-block" class="section-container auto" data-section>
      <section class="active">
        <p class="title" data-section-title><a href="#panel1">Yahoo.finance</a></p>
        <div class="content" data-section-content>
          <div class="pane news-1">
            <p>Some text</p>
          </div>
          <div class="pane news-2 latest-news">
            <h2 class="block-title">Последние новости</h2>
            <dl>
              <% @feed_yahoo = get_feed("http://finance.yahoo.com/news/?format=rss") %>
              <% @feed_yahoo.entries[1..5].each do |news| %>
                  <dt><%= news.published.strftime("%R") %></dt>
                  <dd><%= news.title %></dd>
              <% end %>
            </dl>
          </div>
          <div class="pane news-3 top-news">
            <h2 class="block-title">Новость дня</h2>
            <h3><a href="<%= @feed_yahoo.entries.first.url %>"><%= @feed_yahoo.entries.first.title %></a></h3>
            <p>
              <%= image_tag @feed_yahoo.entries.first.image, class: 'news-image' %>
              <%=  strip_tags(@feed_yahoo.entries.first.summary.sanitize).html_safe %>
            </p>
          </div>
        </div>
      </section>
      <section>
        <p class="title" data-section-title><a href="#panel2">RBK</a></p>
        <div class="content" data-section-content>
          <div class="news-pane-1">
	          <div class="pane news-1">
	            <p>Some text</p>
	          </div>
	          <div class="pane news-2 latest-news">
	            <h2 class="block-title">Последние новости</h2>
	            <p>Some text</p>
	          </div>
	          <div class="pane news-3 top-news">
	            <h2 class="block-title">Новость дня</h2>
	            <h3><a href="#">Some text</a></h3>
	            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, rerum, facilis, impedit, laboriosam aliquam repellendus maiores</p>
          </div>
        </div>
      </section>
      <section>
        <p class="title" data-section-title><a href="#panel3">Euronews</a></p>
        <div class="content" data-section-content>
          <div class="news-pane-1">
	          <div class="pane news-1">
	            <p>Some text</p>
	          </div>
	          <div class="pane news-2 latest-news">
	            <h2 class="block-title">Последние новости</h2>
	            <p>Some text</p>
	          </div>
	          <div class="pane news-3 top-news">
	            <h2 class="block-title">Новость дня</h2>
	            <h3><a href="#">Some text</a></h3>
	            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, rerum, facilis, impedit, laboriosam aliquam repellendus maiores</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>